body {
    background-image: url('https://community.spotify.com/t5/image/serverpage/image-id/99493i1C809A288D5CBD2B/image-size/large/is-moderation-mode/true?v=v2&px=999');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}