.button {
    background-color: #eff4ef;
    border: none;
    color: rgb(10, 0, 0);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Josefin Sans;
  }